* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  padding: auto;
  background-image: linear-gradient(45deg, #e3e3e3 20%, #f0f0f0 20%, #f0f0f0 50%, #e3e3e3 50%, #e3e3e3 70%, #f0f0f0 70%, #f0f0f0 100%);
  background-size: 7.07px 7.07px;
}

.top-header {
  background-color: #E5E5E5;
  display: block;
  margin: 0 auto;
  padding: auto;
  font-size: .8rem;
  font-weight: bolder;
}

.section {
  height: auto;
  display: flex;
  flex-direction: row;
  padding: .5vh auto;
  justify-content: flex-end;
}

.section a {
  color: #12547c;
}

.social-icon a {
  padding-right: 1vw;
}

.social-icon a:hover {
  color: #4d7f9b;
}

.mail i:hover,
.phone i:hover {
  color: #4d7f9b;
}

.mail,
.phone {
  padding-right: 3vw;
}

/* Header */


nav ul a,
nav {
  color: #12547c;
}

p {
  line-height: 2rem;
}

.white {
  height: 11rem;
  background-image: linear-gradient(45deg, #e3e3e3 20%, #f0f0f0 20%, #f0f0f0 50%, #e3e3e3 50%, #e3e3e3 70%, #f0f0f0 70%, #f0f0f0 100%);
  background-size: 7.07px 7.07px;
}

.container {
  padding: 1.6rem;
}

.nav-wrapper ul li a {
  margin-top: 2rem;
  font-weight: bolder;
}

.sidenav-trigger {
  /* color: #008FD3; Original logo color */
  color: #086BC9;
}

#nav-mobile a {
  margin-top: 0;
}


.sidenav {
  background-color: #E5E5E5;
  padding-top: 2vh;
}
.sidenav li a {
  color: #12547c;
}

/* Main Banner */

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  padding-top: 14vh;
  /* margin-right: -10vw; */

}
.parallax-container .section {
    max-width: 100%;
}

.parallax img {
  margin-bottom: 10vh;
  object-fit: contain;
}


.header,
.row h6 {
  padding-left: 20vw;
}

.waves a:hover {
  background-color: rgba(193, 191, 191, 0.7) !important;
}


/* Services Section */

.services {
  margin: -2rem auto 8rem auto;
  width: 70%;
  z-index: -2;
  display: block;
}


.section-title {
  width: 90%;
  margin: 8vh auto 4vh;
  text-align: right;
}

.section-title h4 {
  border-bottom: 3.4px ridge #9E9E9E;
  line-height: inherit;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  margin: 0 auto;
}

.icon-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icon-section h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.icon-section img {
  align-self: center;
}


/* Supporting-section  */

.supporting-section {
  /* max-width: 100%;
  padding: 8vh 15%; */
}

.jumbotron {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4% 15%;
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
  text-align: left;
}
.box img {
  max-width: 18vh;
  margin: 0 6vw;
}

.text {
  padding: 0 6vw;
}

/* .box.news-mobile {
  display: none;
} */

/* Footer */

footer.page-footer {
  margin: 0;
  background-color: #4d6477;
}

footer.page-footer i {
  color: white;
}

footer.page-footer i:hover {
  color: lightgrey;
}

footer.page-footer p {
  padding-right: 4vw;
}

@media only screen and (max-width : 1160px) {
  .jumbotron {
    flex-direction: column;
  }

  .box {
    text-align: center;
  }

}

@media only screen and (min-width : 1161px) {
  .jumbotron {
    flex-direction: row;
  }
}


@media only screen and (min-width : 921px) {
  div#mobile-screen {
    display: none;
  }

  .icon-section img {
    max-width: 10rem;
  }

  .services {
    margin: -2vh auto 6vh auto;
  }

  #small-footer {
      display: none;
    }

}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .icon-section img {
    align-self: center;
  }

  .box img {
    max-width: 18vw;
  }
}

@media only screen and (min-width : 993px) {
  .box img {
    max-width: 10.4rem;
  }

  .service {
    padding: 2vh 2vw;
  }

  .icon-section {
    padding: 2vh 0;
  }

  .rows {
    padding: 2vh 0;
  }
}


@media only screen and (max-width : 920px) {
  .icon-section img {
    max-width: 16vw;
  }

  #large-screen {
    display: none;
  }
}

@media only screen and (max-width : 720px) {
  .box.news-large {
    display: none;
  }

  .box.news-mobile {
    display: block;
  }
}

@media only screen and (min-width : 721px) {
  .box.news-mobile {
    display: none;
  }
}


@media only screen and (min-width : 601px) {
  #small-footer {
    display: none;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .section {
    flex-direction: column;
    justify-content: center;
  }

  .top-header {
    text-align: center;
    display: block;
    padding: auto;
    margin: auto;
  }

  .jumbotron {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon {
    justify-content: center;
  }

  .box {
    text-align: center;
  }

  .icon-section img {
    max-width: 18vw;
  }

  .icon-section h5 {
    font-size: 1rem !important;
  }

  #large-footer {
    display: none;
  }

  .footer-row.social-icon {
    text-align: center;
  }
 }
