* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  padding: auto;
  background-image: linear-gradient(45deg, #e3e3e3 20%, #f0f0f0 20%, #f0f0f0 50%, #e3e3e3 50%, #e3e3e3 70%, #f0f0f0 70%, #f0f0f0 100%);
  background-size: 7.07px 7.07px;
}

.top-header {
  /* background-color: #E5E5E5; */
  background-color: #4d6477;
  display: block;
  margin: 0 auto;
  padding: auto;
  font-size: .8rem;
  font-weight: bolder;
}

.section {
  height: auto;
  display: flex;
  flex-direction: row;
  padding: .5vh auto;
  justify-content: flex-end;
}

.section a {
  /* color: #12547c; */
  color: white;
}

.social-icon a {
  padding-right: 1vw;
}

.social-icon a:hover {
  /* color: #4d7f9b; */
  color: lightgrey;
}

.mail i:hover,
.phone i:hover {
  /* color: #4d7f9b; */
  color: lightgrey;
}

.mail,
.phone {
  padding-right: 3vw;
}

/* Header */


nav ul a,
nav {
  color: #12547c;
}

p {
  line-height: 2rem;
}

.white {
  height: 11rem;
  background-image: linear-gradient(45deg, #e3e3e3 20%, #f0f0f0 20%, #f0f0f0 50%, #e3e3e3 50%, #e3e3e3 70%, #f0f0f0 70%, #f0f0f0 100%);
  background-size: 7.07px 7.07px;
}

.container {
  padding: 1.6rem;
}

.nav-wrapper ul li a {
  margin-top: 2rem;
  font-weight: bolder;
}

.sidenav-trigger {
  /* color: #008FD3; Original logo color */
  color: #086BC9;
  padding-left: 4%;
}

#nav-mobile a {
  margin-top: 0;
}


.sidenav {
  background-color: #E5E5E5;
  padding-top: 2vh;
}
.sidenav li a {
  color: #12547c;
}

/* Main Banner */

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  padding-top: 14vh;
}
.parallax-container .section {
  max-width: 100%;
}

.container.banner-text {
  margin-bottom: 3rem;
}

 h6.header.light {
  margin-bottom: 2rem;
}

.button {
  padding: 1.2rem 2rem;
  background-color: #A09F9F;
  color: white;
  font-size: 1.2rem;
}

.button:hover {
  background-color: #BFBFBF;
}

.parallax img {
  margin-bottom: 10vh;
  object-fit: contain;
}


.header,
.row h6 {
  padding-left: 20vw;
}

.waves a:hover {
  background-color: rgba(193, 191, 191, 0.7) !important;
}


/* Services Section */

.services {
  margin: -2rem auto 8rem auto;
  width: 70%;
  z-index: -2;
  display: block;
}


.section-title {
  width: 86%;
  margin: 8vh auto 4vh;
  text-align: left;
}

.section-title h5 {
  /* border-bottom: 2px ridge #9E9E9E; */
  border-bottom: 2px solid #0076C3;
  line-height: inherit;
  /* font-weight: 400; */
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  margin: 0 auto;
}

.icon-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icon-section h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

.icon-section img {
  align-self: center;
}


/* Supporting-section  */

.jumbotron {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4% 15%;
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
  text-align: left;
}
.box img {
  max-width: 4rem;
  margin: 0 6vw;
}


/* Footer */

footer.page-footer {
  margin: 0;
  background-color: #4d6477;
}

footer.page-footer i {
  color: white;
}

footer.page-footer i:hover {
  color: lightgrey;
}

footer.page-footer p {
  padding-right: 4vw;
}


@media only screen and (max-width : 1160px) {
  .jumbotron {
    flex-direction: column;
  }

  #iletisim {
    margin: 0 auto;
  }

}

@media only screen and (min-width : 1161px) {
  .jumbotron {
    flex-direction: row;
    justify-content: center;
  }
  .input-field form {
    width: 140%;
  }

  div#iletisim {
    margin-left: 12rem;
  }

  .news-scroll iframe {
    width: 16rem;
  }

  .directions p {
    margin: 2rem auto 0;
  }

  .directions img {
    max-width: 15rem;
  }

  .directions {
    margin-right: 4rem !important;
  }
}


@media only screen and (min-width : 921px) {
  div#mobile-screen {
    display: none;
  }

  .icon-section img {
    max-width: 8rem;
  }

  .services {
    margin: -2rem auto 6vh auto;
  }

  #small-footer {
      display: none;
    }

}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .services {
    margin: 4rem auto 4rem;
  }

  .icon-section img {
    align-self: center;
  }

  .row {
    margin-bottom: 2rem;
  }

  .box img {
    max-width: 16vw;
  }
}

@media only screen and (min-width : 993px) {
  .box img {
    max-width: 9rem;
  }

   .service {
    /* padding: 2vh 2vw; */
  }

  .icon-section {
    padding-bottom: 2rem;
  }
}


@media only screen and (max-width : 920px) {
  .icon-section img {
    max-width: 10rem;
  }

  #large-screen {
    display: none;
  }

  .about-us-box {
    flex-direction: column !important;
    text-align: center;
  }

  .lawyer-text h6,
  .lawyer-text h6 {
    margin-left: -2rem;
  }

  .services-supportive img {
    width: 9rem !important;
    margin-top: 2rem;
  }

}

@media only screen and (max-width : 720px) {
  .box.news-large {
    display: none;
  }

  .box.news-mobile {
    display: block;
  }
}

@media only screen and (min-width : 721px) {
  .box.news-mobile {
    display: none;
  }

  .icon-section img {
    width: 10rem;
  }
}


@media only screen and (min-width : 601px) {
  #small-footer {
    display: none;
  }

  .directions {
    margin: 2rem auto 4rem;
    text-align: center;
  }

  .directions p {
    margin: 2rem auto 0;
  }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .section {
    flex-direction: column;
    justify-content: center;
  }

  .top-header {
    text-align: center;
    display: block;
    padding: auto;
    margin: auto;
  }

  .jumbotron {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon {
    justify-content: center;
  }

  .box {
    text-align: center;
    justify-content: center;
  }

  .icon-section img {
    max-width: 18vw;
  }

  .icon-section h5 {
    font-size: 1rem !important;
  }

  #large-footer {
    display: none;
  }

  .footer-row.social-icon {
    text-align: center;
  }
  /* contact_us styling */
  #iletisim {
    margin-left: 0;
  }

  .directions {
    margin: 2rem auto 4rem;
    text-align: center;
  }

  .directions img {
    width: 70vw;
  }

  .directions p {
    margin: 2rem auto 0;
  }


 }
/* Contact-us page */
/* Google map section */


.map {
  width: 80%;
  margin: 5rem auto;
}

#map-title {
  background-color: #4D6477;
  color: white;
  font-size: 1.4rem;
  font-weight: bolder;
  padding: .6rem 1rem;
}

#iletisim {
  /* background-color: white; */
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: left;
  margin-left: 4rem;
}

#iletisim i {
  color: #0076C3;
  padding-right: .4rem;
}

#iletisim h5 {
  border-bottom: 2px solid #0076C3;
  padding-bottom: .2rem;
  font-weight: bolder;
  color: #4D6477;
}

#iletisim a,
#iletisim h5,
#pinpoint {
  margin-bottom: .8rem;
}




/* Contact form styling */
 fieldset {
   background-color: white;
   padding: 1.6rem 2rem;
   width: 100%;
 }

 legend {
   font-size: 1.6rem;
   font-weight: bolder;
   color: #4D6477;
 }
 /* label color */
   .input-field label {
      color: #31404C !important;
      font-size: 1rem;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #0076C3;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #0076C3!important;
     box-shadow: 0 1px 0 0 #0076C3 !important;
   }

   .input-field textarea:focus {
     border-bottom: 1px solid #0076C3 !important;
     box-shadow: 0 1px 0 0 #0076C3 !important;
   }

   #submit-button {
     padding: .4rem .8rem;
     color: #31404C;
     font-weight: 600;
     background-color: rgb(229, 229, 229);
   }

   .black-text {
     color: inherit;
   }

   /* About-us styling */

.about-us-supportive {
  width: 70%;
  margin: 4rem auto 0;
}

.about-us-text h5,
.about-us-supportive h5 {
  border-bottom: 2px solid #0076C3;
  margin-bottom: 3rem;
}

.about_us-jumbotron {
  display: flex;
  flex-direction: column;
}

.about-us-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.mini-box img {
  width: 12rem;
  margin-right: 2rem;
}

.about-us-text {
  width: 70%;
  margin: 4rem auto;
}

.bottom-line {
  color: #0076C3;
  /* font-weight: bold; */
}

/* Services Styling */

.services-supportive {
  width: 70%;
  margin: 4rem auto;
}

.services-supportive img {
  width: 10rem;
  margin-top: 2rem;
}


#services-title {
  border-bottom: 2px solid #0076C3;
  margin-bottom: 1rem;
}
